.header{
    background-color: rgb(233, 167, 160);
    height: 180px;
}
h1{
    color: beige;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
a{
    color: bisque;
    font-size: 20px;
    display: flex;
    justify-content: center;

}

#store-table{
border: 1px solid black;
}
trtd{
    border: 1px solid black;
}
fieldset label{
    display: block;
    margin:5px;
}

#submit-btn{
    width: 80px;
    height: 30px;
    background-color: tomato;
    margin: 20px;
    display: block;
}